@media screen {
.app-x {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}


}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {


}
