@media screen {
  .main-bet {
    gap: 10px;
    display: flex;
    padding: 20px 5px;
    flex-direction: column;
  }

  .vip-adsA {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    object-position: center;
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }


  .vs-s  {
    color: var(--secondary-color);
  }

  .match-table thead {
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .match-table th {
    font-weight: 500;
    width:20px;

  }

  .header-info-h1 {
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: .7rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .main-table th,
  .main-table td {
    padding: 10px;
    font-size: .6rem;
    border: 1px solid rgb(125, 241, 183);
  }
  
  .main-table td  {
    font-weight: 500;
  }
  .main-table th {
    background-color: rgb(193, 248, 220);
  }
  
  .home-freetip {
    margin-top: 20px;
    text-align: center;
  }
  
  .home-freetip h1 {
    font-size: 18px;
    color: #777;
  }

  .td-sd {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .icon-sd-s {
    height: 16px;

  }

  .icon-g {
    fill: var(--green-color);
  }

  .icon-f {
    fill: var(--tertiary-color);

  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .main-bet {
    padding: 30px;
    min-height: 80%;
  }

  .icon-sd-s {
    height: 18px;

  }

  .vip-adsA {
    border-radius: 20px;
  }

  .td-sd {
    flex-direction: row;
  }


  .main-table th,
  .main-table td {
    font-size: .8rem;
    font-weight: 400;
  }
  
}
