@import './stylesheet.css';

@media screen {
  * {
    /* default-colors  */
    --fade-color: #8da8c41a;
    --red-color:  #ff4d4d;
    --green-color: #53e653;
    --grey-color: #e1e1e1;
    --light-color: #43678b;
    --primary-color: #5c0d20;
    --tertiary-color: #042f59;
    --secondary-color: #53e653;
    --background-color: #ffffff;
    --dark-primary-color: #5c0d20;
    --light-primary-color: #830323;
    --drop-shadow: 5px 8px 9px var(--tertiary-color);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-weight: 300;
    font-family: 'Poppins';
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: background-color 0.2s ease, color 0.2s ease;
  }


  h1, h2 {
    font-weight: 500;
  }

  input {
    outline: none;
  }

  .mobilenav-layout {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .desk-show {
    display: none;
  }

  select {
    outline: none;
  }

  .select:hover {
    outline: none;

  }
  .select:focus {
    outline: none;
  }

}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--primary-color);
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 4px solid var(--primary-color);
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }



}
/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
