@media screen {
  .home-main {
    display: flex;
    flex-direction: column;
  }

  .upcoming-p {
    min-height: 40vh;
  }

  .main-h {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
  }

  .main-header {
    gap: 20px;
    display: flex;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-color);
  }

  .header-info h1 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .header-btn {
    gap: 10px;
    display: flex;
  }

  .active-btn {
    background-color: var(--secondary-color);
  }

  .btn-h {
    height: 30px;
    width: 90px;
    display: flex;
    font-size: 0.7rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .btn-h:hover {
    background-color: var(--secondary-color);
  }

  .btn-icon {
    width: 20px;
    fill: var(--background-color);
  }

  .icon-left {
    transform: rotate(180deg);
  }

  .main-h-c {
    display: flex;
    flex-direction: column;
  }

  .main-h-card {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    align-items: center;
    justify-content: space-around;
  }

  .home-freetip {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-freetip h1 {
    font-size: 1.2rem;
    font-weight: 300px;
    text-align: center;
    text-transform: capitalize;

  }

  .news-main {
    gap: 20px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .news-header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }

  .news-info h1 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .news-link {
    display: flex;
    cursor: pointer;
    font-size: 0.9rem;
    align-items: center;
    text-transform: capitalize;
  }

  .news-link span {
    font-weight: 200;
  }

  .news-icon {
    height: 28px;
    fill: var(--background-color);
  }

  .news-wrapper {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news-wrapper h2 {
    font-size: 0.9rem;
    text-transform: capitalize;
    color: var(--secondary-color);
  }

  .news-wrapper p {
    font-size: 0.8rem;
  }

  .home-up {
    display: flex;
    align-items: center;
    border-bottom: none;
    justify-content: center;
  }

}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .main-h {
    padding: 0 30px;
  }

  .main-header {
    padding: 20px 0;
    flex-direction: row;
  }


  
}
