@media screen {
.imp-section {
gap:50px;
display: flex;
padding: 20px;
align-items: center;
flex-direction: column;
background-color: var(--primary-color);
}


.imp-info {
  display: flex;
  align-items: center;
}


.imp-info h1 {
  font-size: 1.4rem;
  color: var(--background-color);
}

.nav-important {
  gap: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-top-vat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-vat-btn {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: .8rem;
  border-radius: 4px;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}

.nav-vat-btn:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

.middle-vat {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.icon-vat {
  height: 20px;
  width: 20px;
  fill: var(--primary-color);
}

.nav-vat-btn:hover  .icon-vat {
  fill: var(--background-color);
}

.nav-middle-vat {
  gap: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-f {
  background-color: #5c5cf5;
}

.s-w {
  background-color: #0b8b0b;
}

.s-t {
  background-color: #0088cc;
}
}


/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .nav-vat-btn {
  font-size: .9rem;
  width: 200px;
  }

  .icon-vat {
    height: 24px;
    width: 24px;
  }

  .imp-info h1 {
    font-size: 2rem;
    color: var(--background-color);
  }
}

