@media screen {

    .container-not-found{
        height: 90vh;
        display: flex;
        overflow: hidden;
        overflow-y: auto;
        justify-content: end;
        flex-direction: column;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--background-color    );
        background-image: url('../assets/nothing.png');
    }
    
    
    .not-f-btn {
        font-size: 1rem;
        cursor: pointer;
        padding: 12px 60px;
        text-transform: capitalize;
        color: var(--background-color);
        background-color:var(--light-primary-color);
    }
    
    }
    /* using it as global style for larger devices  */
    @media only screen and (min-width: 48em) {
        .container-not-found{
            height: 90vh;
        }
    
    }
    