@media screen {
  .other-p-btn {
    gap: 10px;
    height: 70px;
    width: 140px;
    display: flex;
    font-size: .7rem;
    font-weight: 400;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--secondary-color);
   
  }

  .other-p-btn span {
    font-size: .8rem;
    color: var(--secondary-color);
  }

  .other-p-btn:hover {
    background-color: var(--light-primary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .other-p-btn:hover span {
    color: var(--background-color);

  }
  /* component css  */
  .prediction-con {
    gap: 30px;
    display: flex;
    padding: 10px;
    height: fit-content;
    text-align: center;
    flex-direction: column;
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--fade-color);
  }

  .prediction-con h1 {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
  }


  .prediction-p {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* component css  */
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .other-p-btn {
    height: 90px;
    width: 400px;
    font-size: .9rem;
  }
  /* component css  */

  .prediction-con {
    padding: 100px;
    text-align: start;
  }

  /* component css  */
}
