@media screen {
  .pay-monitor {
    display: flex;
    flex-direction: column;
    color: var(--background-color);
    background-color: var(--fade-color);

  }

  .pay-contain {
    gap: 20px;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;


  }

  .pay-header {
    gap: 10px;
    display: flex;
    padding: 15px 10px;
    border-radius: 8px;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .sport-s-contain {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .sport-s-contain p, .pay-main p {
    font-size: .8rem;
    font-weight: 300;
    color: var(--secondary-color);
  }

  .game-tips {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .game-tips span {
    cursor: pointer;
    font-weight: 300;
    font-size: 0.8rem;
    text-decoration: underline;
    color: var(--secondary-color);
  }

  .sport-selector {
    gap: 10px;
    padding: 10px;
    font-weight: 300;
    border-radius: 4px;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    background-color: var(--primary-color);
  }

  .pay-op {
    padding: 10px;
  }

  .icon-pay {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
  }

  .sport-label {
    font-size: 1rem;
    font-weight: 300;
  }

  .pay-title {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .pay-title span {
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
  }

  .pay-main {
    gap: 10px;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .pay-btn {
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 100;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .pay-info {
    gap: 10px;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    padding-bottom: 20%;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .pay-info h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .pay-info span {
    cursor: pointer;
    font-weight: 600;
    font-style: italic;
    color: var(--secondary-color);
  }

  .pay-info p, ul {
    font-size: .8rem;
    font-weight: 300;
    list-style: square;
  }

  .step-pay {
    gap: 5px;
    display: flex;
    padding: 20px 0;
    text-align: center;
    flex-direction: column;
    border-top: 1px solid var(--secondary-color);
  }


  .step-pay h1 {
    font-size: 1rem;
    text-decoration: underline;

  }
  .step-pay h2 {
    font-size: 1rem;

  }

  .method-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .method-head h1 {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .method-pay {
    gap: 10px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    border-top: 1px solid var(--light-color);
  }

  .method-pay h1 {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 600;
  }

  .Question {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .Question-con {
    gap: 10px;
    display: flex;
    padding: 20px 10px;
    text-align: center;
    flex-direction: column;
    border-top: 1px solid var(--light-color);
  }

  .Question-con h1 {
    font-size: 1rem;
    font-weight: 600;
  }

  .inv-comps {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .pay-header {
    padding: 20px;
  }

  .pay-contain {
    padding: 20px;
  }

  .pay-main {
    padding: 20px;
  }

  .step-pay {
    text-align: start;
  }
  
  .pay-info {
    padding-bottom:0;
  }
  .pay-info h1 {
    text-align: start;
  }

  .method-pay {
    padding: 20px;
  }

  .Question-con {
    padding: 20px;
    text-align: start;
  }

  .inv-comps {
    flex-wrap: nowrap;
    justify-content: space-between;

  }
}
